@using PagedList
@using PagedList.Mvc

@model IPagedList<prjShoppingCarAjax.Models.tProduct>

@{
    ViewBag.Title = "產品列表";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<form style="margin:10px 10px" action="@Url.Action("Index")" method="get">
    <select name="orderby">

        @if (Session["Orderby"].ToString() == "日期排序新到舊")
        {
            <option selected>日期排序新到舊</option>
        }
        else
        {
            <option>日期排序新到舊</option>
        }
        @if (Session["Orderby"].ToString() == "日期排序舊到新")
        {
            <option selected>日期排序舊到新</option>
        }
        else
        {
            <option>日期排序舊到新</option>
        }
        @if (Session["Orderby"].ToString() == "種類排序")
        {
            <option selected>種類排序</option>
        }
        else
        {
            <option>種類排序</option>
        }
        @if (Session["Orderby"].ToString() == "銷量排序高到低")
        {
            <option selected>銷量排序高到低</option>
        }
        else
        {
            <option>銷量排序高到低</option>
        }
        @if (Session["Orderby"].ToString() == "銷量排序低到高")
        {
            <option selected>銷量排序低到高</option>
        }
        else
        {
            <option>銷量排序低到高</option>
        }
        @if (Session["Orderby"].ToString() == "價錢排序高到低")
        {
            <option selected>價錢排序高到低</option>
        }
        else
        {
            <option>價錢排序高到低</option>
        }
        @if (Session["Orderby"].ToString() == "價錢排序低到高")
        {
            <option selected>價錢排序低到高</option>
        }
        else
        {
            <option>價錢排序低到高</option>
        }

    </select>
    <select name="productkind">
        <option>全部</option>
        @foreach (var item in (Session["AllProducts"] as IEnumerable<prjShoppingCarAjax.Models.tProduct>))
        {
            if (Session["Productkind"].ToString() == @item.fKind.Replace(" ", ""))
            {
                <option selected>@item.fKind</option>
            }
            else
            {
                <option>@item.fKind</option>
            }
        }
    </select>
    @if (Session["Keyword"].ToString() != null)
    {
        <input maxlength="20" type="text" name="keyword" value="@Session["Keyword"].ToString()" />
    }
    else
    {
        <input maxlength="20" type="text" name="keyword" value="" />
    }

    <input type="submit" value="送出查詢" />
</form>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, orderby = Session["Orderby"].ToString(), productkind = Session["Productkind"].ToString(), Keyword = Session["Keyword"].ToString() }))
<div class="row" id="rowShow">

    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="~/images/@item.fImg" style="width:auto;height:10px;" id="@item.fPId">
                <div class="caption">

                    @if (Session["Member"] != null)
                    {
                        <h2 id="@item.fPId">@item.fName</h2>
                        <p>種類：@item.fKind</p>
                        <p>單價：@item.fPrice</p>
                        <p>庫存：@item.stock</p>
                        <p>銷量：@item.fSales</p>
                        <p>上架日期：@item.fDate.ToString().Replace(" 上午 12:00:00", "")</p>
                        <p><div class="btn btn-primary btnAddCar">加入購物車</div></p>
                    }
                    else if (Session["Admin"] != null)
                    {
                        <p>上傳產品照片：<input type="file" name="fImg" id="fImg" accept="image/gif, image/jpeg, image/png" /></p>
                        <p id="fPId" name="@item.fPId">編號：@item.fPId</p>
                        <p>種類：@item.fKind</p>
                        <h2><input maxlength="20" type="text" value="@item.fName" id="fName" name="fPrice"></h2>
                        <p>單價：<input maxlength="9" type="text" value="@item.fPrice" id="fPrice" name="fPrice"></p>
                        <p>庫存：<input maxlength="9" type="text" value="@item.stock" id="stock" name="stock"></p>
                        <p>銷量：@item.fSales</p>
                        <p>上架日期：@item.fDate.ToString().Replace(" 上午 12:00:00", "")</p>
                        <p><div class="btn btn-primary btnEditProduct">修改產品</div></p>
                        <p><div class="btn btn-primary btnDeleteProduct">刪除產品</div></p>
                    }
                    else
                    {
                        <h2>@item.fName</h2>
                        <p>種類：@item.fKind</p>
                        <p>單價：@item.fPrice</p>
                        <p>庫存：@item.stock</p>
                        <p>銷量：@item.fSales</p>
                        <p>上架日期：@item.fDate.ToString().Replace(" 上午 12:00:00", "")</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, orderby = Session["Orderby"].ToString(), productkind = Session["Productkind"].ToString(), Keyword = Session["Keyword"].ToString() }))



