@using PagedList
@using PagedList.Mvc
@model IPagedList<prjShoppingCarAjax.Models.tOrder>
@{
    ViewBag.Title = "會員訂單列表";

}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>會員訂單列表</h2>
<form style="margin:10px 10px" action="@Url.Action("OrderList")" method="get">
    <select name="orderbydate">
        @if (Session["OrderbyDate"].ToString() == "日期新到舊")
        {
            <option selected>日期新到舊</option>
        }
        else
        {
            <option>日期新到舊</option>
        }
        @if (Session["OrderbyDate"].ToString() == "日期舊到新")
        {
            <option selected>日期舊到新</option>
        }
        else
        {
            <option>日期舊到新</option>
        }

    </select>
    <select name="orderbystatus">
        @if (Session["OrderbyStatus"].ToString() == "全部")
        {
            <option selected>全部</option>
        }
        else
        {
            <option>全部</option>
        }
        @if (Session["OrderbyStatus"].ToString() == "待出貨")
        {
            <option selected>待出貨</option>
        }
        else
        {
            <option>待出貨</option>
        }
        @if (Session["OrderbyStatus"].ToString() == "運送中")
        {
            <option selected>運送中</option>
        }
        else
        {
            <option>運送中</option>
        }
        @if (Session["OrderbyStatus"].ToString() == "已送達")
        {
            <option selected>已送達</option>
        }
        else
        {
            <option>已送達</option>
        }
        @if (Session["OrderbyStatus"].ToString() == "完成付款")
        {
            <option selected>完成付款</option>
        }
        else
        {
            <option>完成付款</option>
        }
        @if (Session["OrderbyStatus"].ToString() == "棄單")
        {
            <option selected>棄單</option>
        }
        else
        {
            <option>棄單</option>
        }
    </select>
    @if (Session["Admin"] != null)
    {
        if (Session["OrderuserId"].ToString() != "")
        {
            <input maxlength="20" type="text" name="orderuserId" value="@Session["OrderuserId"].ToString()" />
        }
        else
        {
            <input maxlength="20" name="orderuserId" type="text" placeholder="會員帳號" />
        }


    }

    @if (Session["OrderId"].ToString() != "")
    {
        <input maxlength="50" type="text" name="orderId" value="@Session["OrderId"].ToString()" />
    }
    else
    {
        <input maxlength="50" name="orderId" type="text" placeholder="訂單編號" />
    }



    <input type="submit" value="送出查詢" />
</form>


@Html.PagedListPager(Model, page => Url.Action("OrderList", new { page, orderbydate = Session["OrderbyDate"].ToString(), orderbystatus = Session["OrderbyStatus"].ToString(), orderuserId = Session["OrderuserId"].ToString(), orderId = Session["OrderId"].ToString() }))
<div class="scroll">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fOrderGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fReceiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fStatus)
            </th>
            <th>訂單明細</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="fOrderGuid" id="@Html.DisplayFor(modelItem => item.fOrderGuid)">
                    @Html.DisplayFor(modelItem => item.fOrderGuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fReceiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fDate)
                </td>
                <td>
                    @if (Session["Admin"] != null)
                    {
                        <select class="form-control">
                            @if (@Html.DisplayFor(modelItem => item.fStatus).ToString() == "待出貨")
                            {
                                <option value="待出貨" SELECTED>待出貨</option>
                            }
                            else
                            {
                                <option value="待出貨">待出貨</option>
                            }
                            @if (@Html.DisplayFor(modelItem => item.fStatus).ToString() == "運送中")
                            {
                                <option value="運送中" SELECTED>運送中</option>
                            }
                            else
                            {
                                <option value="運送中">運送中</option>
                            }

                            @if (@Html.DisplayFor(modelItem => item.fStatus).ToString() == "已送達")
                            {
                                <option value="已送達" SELECTED>已送達</option>
                            }
                            else
                            {
                                <option value="已送達">已送達</option>
                            }
                            @if (@Html.DisplayFor(modelItem => item.fStatus).ToString() == "完成付款")
                            {
                                <option value="完成付款" SELECTED>完成付款</option>
                            }
                            else
                            {
                                <option value="完成付款">完成付款</option>
                            }
                            @if (@Html.DisplayFor(modelItem => item.fStatus).ToString() == "棄單")
                            {
                                <option value="棄單" SELECTED>棄單</option>
                            }
                            else
                            {
                                <option value="棄單">棄單</option>
                            }
                        </select>

                        <input type="button" value="送出修改" class="form-control btn btn-info OrderStatusEdit" />
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.fStatus)
                    }
                </td>
                <td>
                    <a href="@Url.Action("OrderDetail")?fOrderGuid=@item.fOrderGuid" class="btn btn-info">訂單明細</a>
                </td>
            </tr>
        }

    </table>
</div>


@Html.PagedListPager(Model, page => Url.Action("OrderList", new { page, orderbydate = Session["OrderbyDate"].ToString(), orderbystatus = Session["OrderbyStatus"].ToString(), orderuserId = Session["OrderuserId"].ToString(), orderId = Session["OrderId"].ToString() }))